[Desktop Entry]
Version=1.0
Type=Application
Name=Run A1
Comment=
Exec=/home/hpnow/PyExpLabSys/machines/???/run_A1.bash
Icon=
Path=/home/hpnow/PyExpLabSys/machines/???
Terminal=true
StartupNotify=false
Name[en_US]=Run A1